html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  --background: hsl(235, 21%, 11%);
  --inputs: hsl(235, 24%, 19%);
  --color-text: hsl(234, 39%, 85%);
  --caret-color: hsl(237deg 22% 68%);
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--background);
  color: var(--color-text);
  transition: background-color 0.5s ease;
}

body.light-theme {
  --background: hsl(236, 33%, 92%);
  --inputs: hsl(0, 0%, 98%);
  --color-text: hsl(235, 19%, 35%);
  --caret-color: hsl(237, 14%, 26%);
}

.wrapper-all {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(12, 1fr);
  justify-content: center;
}

/* Header */
.header {
  grid-column: 1/2;
  grid-row: 1/4;
  background-image: url("/images/bg-mobile-dark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 0.5s ease;
}

.header-container {
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  color: white;
  letter-spacing: 0.6rem;
}

.icon-mode {
  font-size: 1.5rem;
  color: white;
}

/* Main */

.main {
  grid-column: 1/2;
  grid-row: 3/12;
}

.new-todo {
  width: 90%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--inputs);
  border-radius: 5px;
  padding: 0.6rem;
  display: flex;
  caret-color: var(--caret-color);
}

.check-box {
  width: 20px;
  height: 20px;
  border: 1px solid hsl(237, 14%, 26%);
  border-radius: 50%;
  cursor: pointer;
}

.input {
  background-color: var(--inputs);
  outline: none;
  border: none;
  width: 100%;
  color: var(--color-text);
  margin-left: 1rem;
}
.todo-list {
  margin-top: 1rem;
  width: 90%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--inputs);
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  color: hsl(234, 11%, 52%);
}

.item {
  display: flex;
  border-bottom: 1px solid hsl(237, 14%, 26%);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.check-box img {
  width: 85%;
}

.item-check {
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-text {
  margin-left: 1rem;
  width: 90%;
  transition: all 0.5s ease;
}

.complete .item-text {
  text-decoration: line-through;
  opacity: 0.5;
}

.delete {
  cursor: pointer;
}

.delete-animation {
  transform: translate(-120%);
  transition: transform 1s cubic-bezier(0.38, -0.29, 0.58, 1);
}

.list-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
}

.list-filter {
  font-size: 0.8rem;
  margin-top: 1rem;
  width: 90%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--inputs);
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  border: 0;
  outline: 0;
  background: 0;
  color: hsl(234, 11%, 52%);
}
.buttons:hover {
  color: hsl(234, 39%, 85%);
}
.button-activated {
  color: hsl(219deg, 59%, 60%);
}

/* Footer */

.attribution {
  grid-column: 1/2;
  grid-row: 12/13;
  align-self: end;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 600px) {
  .header {
    background-image: url("/images/bg-desktop-dark.jpg");
  }
}
